<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">

    <title>Cafetaria</title>
</head>

<body>
    <a class="skip-link" href="#restaurant">Skip to content</a>

    <header class="app-bar">
        <div class="app-bar__menu">
            <button aria-label="menu button" id="menuButton">☰</button>
        </div>

        <div class="app-bar__brand">
            <h1>Cafetaria</h1>
        </div>

        <nav class="app-bar__nav">
            <ul>
                <li><a href="#/home">Home</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="#/about">About Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="hero">
            <div class="hero__text-box">
                <p>Welcome to <span class="hero__brand">Cafetaria</span></p>
                <p>Have a nice day</p>
            </div>
        </div>

        <section id="restaurant" class="restaurant">
            <h2 class="restaurant__label">Explore Restaurant</h2>

            <div class="restaurant__list">
                <article class="card">
                    <div class="card__header">
                        <img class="card__header__image" src="/images/heros/hero-image_1.jpg" alt="images">
                        <p class="card__header__city">Medan</p>
                    </div>

                    <div class="card__body">
                        <p class="card__body__rating">Rating 4.6</p>

                        <p class="card__body__name"><a href="#/detail">Bring Your Phone Cafe</a></p>

                        <p class="card__body__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                            natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                            ultricies nec, pellentesque
                            eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                            aliquet nec, vulputate eget,
                            arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
                            pede mollis pretium.
                            Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
                            tellus. Aenean leo ligula,
                            porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra
                            quis, feugiat a, tellus.
                            Phasellus viverra nulla ut metus varius laoreet.</p>
                    </div>
                </article>
                <article class="card">
                    <div class="card__header">
                        <img class="card__header__image" src="/images/heros/hero-image_1.jpg" alt="images">
                        <p class="card__header__city">Medan</p>
                    </div>

                    <div class="card__body">
                        <p class="card__body__rating">Rating 4.6</p>

                        <p class="card__body__name"><a href="#/detail">Bring Your Phone Cafe</a></p>

                        <p class="card__body__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                            natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                            ultricies nec, pellentesque
                            eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                            aliquet nec, vulputate eget,
                            arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
                            pede mollis pretium.
                            Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
                            tellus. Aenean leo ligula,
                            porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra
                            quis, feugiat a, tellus.
                            Phasellus viverra nulla ut metus varius laoreet.</p>
                    </div>
                </article>
                <article class="card">
                    <div class="card__header">
                        <img class="card__header__image" src="/images/heros/hero-image_1.jpg" alt="images">
                        <p class="card__header__city">Medan</p>
                    </div>

                    <div class="card__body">
                        <p class="card__body__rating">Rating 4.6</p>

                        <p class="card__body__name"><a href="#/detail">Bring Your Phone Cafe</a></p>

                        <p class="card__body__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                            natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                            ultricies nec, pellentesque
                            eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                            aliquet nec, vulputate eget,
                            arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
                            pede mollis pretium.
                            Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
                            tellus. Aenean leo ligula,
                            porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra
                            quis, feugiat a, tellus.
                            Phasellus viverra nulla ut metus varius laoreet.</p>
                    </div>
                </article>
                <article class="card">
                    <div class="card__header">
                        <img class="card__header__image" src="/images/heros/hero-image_1.jpg" alt="images">
                        <p class="card__header__city">Medan</p>
                    </div>

                    <div class="card__body">
                        <p class="card__body__rating">Rating 4.6</p>

                        <p class="card__body__name"><a href="#/detail">Bring Your Phone Cafe</a></p>

                        <p class="card__body__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                            natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                            ultricies nec, pellentesque
                            eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                            aliquet nec, vulputate eget,
                            arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
                            pede mollis pretium.
                            Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
                            tellus. Aenean leo ligula,
                            porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra
                            quis, feugiat a, tellus.
                            Phasellus viverra nulla ut metus varius laoreet.</p>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer class="footer">
        <p>Copyright © <span id="footer__year"></span> - <span class="footer__brand">Cafetaria</span></p>
    </footer>
</body>

</html>