/** @format */

// Color
$color-primary: #02475e;
$color-secondary: #fefecc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

a {
  display: inline-flex;
  min-width: 44px;
  min-height: 44px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

button {
  min-width: 44px;
  min-height: 44px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*
  Skip link
*/

.skip-link {
  z-index: 1000;
  padding: 10px 20px;
  background-color: $color-primary;
  color: $color-secondary;
  position: fixed;
  top: -1000px;
}

.skip-link:focus {
  top: 100px;
}

/*
  Loader
*/

.loader {
  border: 7px solid $color-secondary;
  border-radius: 50%;
  border-top: 7px solid $color-primary;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

/*
    Appbar
*/

appbar-component {
  z-index: 1;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
  padding: 8px 10px;
  background-color: $color-primary;
  box-shadow: 2px 0 10px 1px rgba(0, 0, 0, 0.5);

  .app-bar__menu {
    font-size: 14pt;
    color: $color-secondary;
  }

  .app-bar__brand {
    font-style: italic;
    color: $color-secondary;
    font-size: 18pt;
  }

  .app-bar__nav {
    position: fixed;
    top: 0;
    left: -1000px;
    height: 100%;
    width: 250px;
    transition: 0.3s;
    background-color: $color-secondary;

    .app-bar__nav-list {
      display: grid;
      align-items: center;
      gap: 10px;
      padding: 8px 20px;

      li {
        list-style: none;

        .app-bar__nav-item {
          color: $color-primary;
          font-size: 14pt;

          .app-bar__nav-item:hover {
            font-weight: bold;
          }
        }
      }
    }
  }

  .app-bar__nav.open {
    left: 0;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
  }
}

/*
  Main
*/

main {
  display: grid;
  align-items: center;
  justify-content: center;
}

/*
    Hero
*/

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/heros/hero-image_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fefecc;
  font-size: 20pt;
  line-height: 1.5em;
  font-family: "Quicksand", sans-serif;

  .hero__brand {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: italic;
  }
}

/*
    Restaurant list
*/

.restaurant {
  padding: 20px;
  background-color: #f3f3f3;

  .restaurant__label {
    text-align: center;
    margin: 30px 20px;
    font-size: 20pt;
  }

  restaurantlist-component {
    display: grid;
    gap: 20px;
  }
}

/*
  Card
*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;

  .card__header {
    position: relative;

    .card__header__city {
      position: absolute;
      top: 20px;
      padding: 10px 20px;
      background-color: rgba(0, 0, 0, 0.9);
      color: #fefecc;
    }
  }

  .card__body {
    padding: 20px;

    .card__body__rating {
      font-weight: bold;
      font-size: 14pt;
    }

    .card__body__name {
      font-weight: bold;
      font-size: 14pt;

      a {
        color: black;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .card__body__description {
      font-size: 12pt;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 12;
      -webkit-box-orient: vertical;
      line-height: 1.5em;
    }
  }
}

/*
  Restaurant detail
*/

.restaurant-detail {
  padding: 20px;
  display: grid;
  gap: 20px;

  .restaurant-detail__label {
    text-align: center;
    font-size: 20pt;
    margin: 30px 0 20px 0;
  }

  .restaurant-detail__info {
    .restaurant-info__header {
      position: relative;

      .restaurant-info__image {
        object-fit: cover;
        object-position: center;
        width: 100%;
      }

      .restaurant-info__city {
        position: absolute;
        top: 20px;
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0.9);
        color: #fefecc;
      }
    }

    .restaurant-info__body {
      padding: 20px;

      .restaurant-info__rating {
        font-weight: bold;
        font-size: 14pt;
        margin-bottom: 10px;
      }

      .restaurant-info__name {
        font-weight: bold;
        font-size: 14pt;
        margin-bottom: 10px;
      }

      .restaurant-info__address {
        font-weight: bold;
        font-size: 14pt;
        margin-bottom: 10px;
      }

      .restaurant-info__description {
        font-size: 12pt;
        line-height: 1.5em;
        margin-bottom: 10px;
      }

      .restaurant-info__category {
        .restaurant-category__label {
          font-weight: bold;
          font-size: 14pt;
          margin-bottom: 10px;
        }

        .restaurant-category__item {
          font-size: 12pt;
          margin-left: 20px;
          margin-bottom: 10px;
        }
      }

      .restaurant-info__menu {
        .restaurant-menu__label {
          font-weight: bold;
          font-size: 14pt;
          margin-bottom: 10px;
        }

        .restaurant-menu__list {
          display: grid;
          gap: 10px;
          grid-template-columns: repeat(2, 1fr);

          .food__list {
            .food-list__label {
              font-weight: bold;
              font-size: 12pt;
              margin-bottom: 10px;
            }

            .food-menu {
              margin-left: 20px;
            }
          }

          .drink__list {
            .drink-list__label {
              font-weight: bold;
              font-size: 12pt;
              margin-bottom: 10px;
            }

            .drink-menu {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}

/*
    Footer
*/

.footer {
  background-color: #02475e;
  padding: 8px;

  p {
    text-align: center;
    font-size: 14pt;
    color: #fefecc;

    .footer__brand {
      font-weight: bold;
      font-style: italic;
    }
  }
}
