/** @format */
// color palette
$color__primary: #02475e;
$color__secondary: #fefecc;

@media screen and (min-width: 600px) {
  // restaurant detail
  .restaurant__detail {
    .restaurant-detail__heading {
      height: 400px;
    }
  }
}

@media screen and (min-width: 768px) {
  // restaurant
  .restaurant {
    justify-content: center;

    .restaurant__body {
      width: 700px;
    }
  }

  // restaurant detail
  .restaurant__detail {
    .restaurant-detail__heading {
      height: 500px;
    }
  }
}
