/** @format */

favorite-pages {
  display: grid;
  gap: 20px;
  grid-template-rows: auto auto 1fr;
  padding: 20px;
  min-height: 100%;

  .content__heading {
    margin-top: 20px;
    text-align: center;
  }
}
