/** @format */

restaurant-detail {
  display: grid;
  gap: 10px;
  font-size: 12pt;

  .heading {
    position: relative;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .city {
      position: absolute;
      top: 20px;
      padding: 10px 20px;
      background-color: black;
      color: white;
    }
  }

  .body {
    display: grid;
    gap: 10px;

    .rating,
    .name,
    .address {
      font-weight: bold;
    }

    .name {
      font-size: 14pt;
    }

    .description {
      line-height: 1.5em;
    }
  }
}

@media screen and (min-width: 550px) {
  restaurant-detail {
    .heading {
      height: 300px;
    }
  }
}

@media screen and (min-width: 768px) {
  restaurant-detail {
    width: 700px;

    .heading {
      height: 500px;
    }
  }
}
